.statsBox {
    padding: 5px 10px;
    border: 3px solid black;
}

.listItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.listItemLeft {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.listItemRight {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}