.statsBox {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 3px solid black;
}

.listItem {
    display: flex;
    flex-direction: row;
}

.icon {
    width: 7%;
    height: 7%;
    margin-right: 5px;
}