.gameScreenContainer {
    display: flex;
    flex-direction: column;
}

.personalBoardContainer {
    width: 40%;
    height: 40%;
}

.personalStatsContainer {
    width: 20%;
    height: 20%;
}

.opponentBoardContainer {
    width: 30%;
    height: 30%;
    margin: 1%;
}

.opponentStatsContainer {
    width: 20%;
    height: 15%;
    margin: 1%;
}

.personalContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 1%;
}

.opponentsContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.opponentsOneContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.opponentsTwoContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}