.gameScreenContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:  100vh;
}

.personalBoardContainer {
    width: 40%;
}

.personalStatsContainer {
    width: 25%;
}

.opponentBoardOrStatsContainer {
    width: 50%;
    margin: 0.5%;
}

.personalContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 1%;
}

.opponentsContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0.5%;
}

.opponentContainer {
    display: flex;
    flex-direction: row;
}